
.nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #493666;
    padding-bottom: 60px;
    
}

.ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: large;
}

.navtext{
    display: block;
    padding: 5px;
    float: left;
    width: 100px;
    height: 50px;
    color: #ffffff;
    transition: background-color 0.5s;
}

a:visited {
    color: #ffffff;
}

a {
    text-decoration: none;
}

.navtext:hover{
        background-color: #5e4b7a;
}




