p { 
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
    color: #421d7a;
    margin-bottom: 40px;
}


h1 {
    color: #421d7a;
    text-align: center;
    font-weight: bold;
}



h2 {
    display: block;
    float: left;
    color: white;

}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #421d7a;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}   


nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #421d7a;
    padding-bottom: 60px;
    font-weight: bold;

}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

nav ul li{
    font-size: large;
    float: left;
    width: 100px;
    text-align: center;

}



nav a{
    display: block;
    padding: 5px;
    height: 50px;
    color:  white;
    transition: background-color 0.5s;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
}

nav a:hover{
    background-color: #7044ad;
}

.sous{
    display: none;
    background-color: #421d7a;
    z-index: 1000;
    position: absolute;
}

nav > ul li:hover .sous{
    display: block;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous li{
    float: none;
    width: 100%;
    text-align: center;
}


.sous a:hover{
    border-bottom: none;
    background-color: #7044ad;
    transition: 0.5s
}
.deroulant > a::after{
    content:"▼";
    font-size: 12px;
}

aside{
    display: block;
    float: right;
}
