.logo {
    display: block;
    width: 106px;
}



p { 
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: #361766;
    margin-bottom: 40px;
    width: 70%;
}


h1 {
    color: #361766;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}



h2 {
    display: block;
    float: left;
    color: white;

}

h3{
    color: #361766;
    font-weight: bold;
    font-size: 30px;
    margin-left: 30px;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #361766;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;

}   


nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #361766;
    padding-bottom: 60px;
    font-weight: bold;

}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

nav ul li{
    font-size: large;
    float: left;
    width: 100px;
    text-align: center;

}



nav a{
    display: block;
    padding: 5px;
    height: 50px;
    color:  white;
    transition: background-color 0.5s;
}

nav a:visited {
    color: white;
}

a {
    text-decoration: none;
    color:rgb(96, 14, 248);
}

nav a:hover{
    background-color: #532a8d;
}

.sous{
    display: none;
    background-color: #361766;
    z-index: 1000;
    position: absolute;
}

nav > ul li:hover .sous{
    display: block;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous li{
    float: none;
    width: 100%;
    text-align: center;
}


.sous a:hover{
    border-bottom: none;
    background-color: #532a8d;
    transition: 0.5s
}
.deroulant > a::after{
    content:"▼";
    font-size: 12px;
}

table{
    display: block;
    float : right;
    border: 5px solid;  
    border-color:  #361766;
    margin: 30px;
}

td{
    border-bottom: 5px solid;  
    border-color:  #361766;
    
}

th{
    background-color: #361766;
    color: white;
}

.galery {
    position: relative;
    margin: 10px;
    width: 491px; 
    height: 277px;
    display: inline-block;
    font-family: sans-serif;

    
}
 .galery img{
    width: 491px; 
    height: 277px;
 }

.galery:hover img{
    filter: opacity(50%);
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.galery:hover .text{
    display: inline-block;

}


.text{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #361766;
    font-weight: 750;
    font-size: 30px;
}

.main{
    width: 100%;
    padding: 0px;
}